@font-face {
  font-family: "Sinistre";
  src:  url("https://github.com/RAZeeTUG/Fonts/blob/master/Sinistre-clt/Sinistre/web/Sinistre-StCaroline.woff2") format("woff2"),
        url("https://github.com/RAZeeTUG/Fonts/blob/master/Sinistre-clt/Sinistre/web/Sinistre-StCaroline.woff") format("woff");
}

.sinistre{
  font-family: "Sinistre";
}
